<div class="text-center theme">

  <h2>Edit profile</h2>
  <hr class="orange-line-smaller">


<!--           Ruby logic        -->

  <% prefilled = @profile.user.provider == "facebook" ?  true : false %>

  <%if prefilled%>
    <%first_name = @profile.user.first_name %>
    <%last_name = @profile.user.last_name %>
    <%dob = @profile.dob%>
  <%else%>
    <%first_name = @profile.first_name %>
    <%last_name = @profile.last_name %>
    <%dob = @profile.dob%>
  <%end%>

  <!-- <%dob = @profile.dob %> -->

  <%gender = @profile.gender || "male"%>

<!--         end of logic        -->

<!--             The form             -->

  <div class="form-wrapper">
    <div class="form-div">
      <%= simple_form_for [@profile] do |f| %>

      <% if params[:first_time].present? %>
        <%= hidden_field_tag 'first_time', true %>
      <% end %>

      <div class="form-inputs">
        <%= f.input :first_name, label: 'First name', input_html: {value: first_name, class:"form_field" }, readonly: prefilled, required: true%>
        <%= f.input :last_name, label: 'Last name', input_html: {value: last_name, class:"form_field" }, readonly: prefilled, required: true%>
        <%= f.input :dob, as: :string, label: 'Date of birth', input_html: {value: Date.today, class: "datepicker form_field",  id: "date" }, readonly: false, required: true%>
      </div>

      <div class="form-dropdown" style="margin-top: 8%;">
        <%= f.select(:gender, label: 'Gender', input_html: {value: gender, class: "form_field form-dropdown"}, readonly: false, required: true) do %>
          <% [['Male', 'male'], ['Female', 'female'], ['Rather not say', 'no-gender']].each do |c| -%>
            <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
        <% end %>
      </div>

      <%= f.submit class: "start-btn-form", style: 'margin-top: 6.5%;' %>

      <% end %>
    </div>
  </div>
</div>
