<div class="theme text-center">

  <h1>Hi <%=current_profile.first_name.capitalize%>, welcome to your profile!</h1>

  <% if current_profile.is_client == 1 %>
  <h2>You are a client!</h2>
  <p>Company name: <%=current_profile.company_name.capitalize%></p>
  <p>Company address: <%=current_profile.company_address%></p>
  <% else %>
  <h2>You are an Enduser!</h2>
  <% end %>

  <br>
  <p>First Name: <%=current_profile.first_name.capitalize%></p>
  <p>Last Name: <%=current_profile.last_name.capitalize%></p>
  <p>Date of birth: <%=current_profile.dob%></p>
  <p>Gender: <%=current_profile.gender%></p>
  <br>

  <% if current_profile.is_client == 1 && @profile.questionnaires %>
  <p>You created: <strong><%= @profile.questionnaires.count %></strong> questionnairs</p>
  <% end %>
  <div class="container ">
    <h1>Prizes won:</h1>
    <% @profile.results.each do |result| %>
    <div class="row">
      <div class="prizes-won-card col-xs-12 col-sm-6 col-lg-6">
       <% if result.status == 1 %>
       <p>Won, 1st prize!</p>
       <p><%= result.prize.title %></p>
       <%= link_to "Redeem", root_path, class: "start-btn"%>
       <% elsif result.status == 2 %>
       <p>Won, 2nd prize!</p>
       <% elsif result.status == 0 %>
       <p>Lost...</p>
       <% end %>
     </div>
   </div>
   <% end %>
 </div>
</div>
 <br>
 <div class="container text-center ">
 <%= link_to "Back home", root_path, class: "start-btn" %>
 </div>

