<div class="theme text-center">
  <h2 class="q-or-a-title">Forgot your password?</h2>
  <hr class="orange-line-smaller">
  <div class="form-wrapper">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send reset instructions", class: "start-btn" %>
      </div>
    <% end %>

  </div>

    <hr class="orange-line-smaller">

    <%= render "devise/shared/links" %>
</div>

