<div class="text-center prize-description-div"">

  <h3>Choose prize</h3>
  <p>Title: <%= @questionnaire.title %></p>
  <p>Description: <%= @questionnaire.description %></p>
  <br>

  <% @prizes.each do |p| %>
    <div class='prize-div'>

      <%#= link_to prize.title, edit_questionnaire_result_path(@questionnaire.id, @result.id), { class: 'btn btn-primary btn-md prize-btn' } %>

      <% selected_prize = p.id%>
      <%= simple_form_for @questionnaire do |f|  %>
        <%= f.hidden_field :result, value: selected_prize %>
        <%= f.submit p.title, class: "btn btn-primary btn-md prize-btn" %>
      <% end %>

    </div>
  <% end %>

</div>

