<div class="text-center theme">

<h3 style='padding: 2%;'>Choose your prize</h3>
<hr class="orange-line-small">


<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="prize-selection-div">
          <% @prizes.each do |prize| %>
          <div class="prize-container">
            <!-- wrap this div in button and move the form into modal -->
              <input type='button' class='prize-div text-center' style="background-image:url('<%= image_path prize.image_url %>')" data-toggle="modal" data-target="#prize<%=prize.id%>">
              </input>
              <div class="modal fade prize-modal" id="prize<%=prize.id%>">
                <!-- <div class="prize-div"> -->
                  <div class="prize-info">
                    <h3><%=prize.title%></h3>
                    <p><%=prize.description%></p>
                  </div>
                  <div class="prize-btn text-center">
                    <span>
                      <% selected_prize = prize.id%>
                      <%= simple_form_for [@questionnaire, @result], html: { class: 'start-btn' } do |f|  %>
                      <%= f.hidden_field :result, value: selected_prize %>
                      <%= f.submit "Choose and play", { class: "prize-submit" } %>
                      <% end %>

                    </span>
                    <span data-toggle="modal" data-target="#prize<%=prize.id%>" class="start-btn"> Different prize</span>
                  </div>
                <!-- </div> -->
              </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
