
<% if current_user %>
<h1>Hi there <%=current_user.profile.first_name%></h1>
<% end %>


<h3>Any user story:</h3>

<% if current_user %>
<%= link_to "show my profile", profile_path(current_profile), class: "btn btn-primary" %>
<% end %>
<br>


<h3>Client story:</h3>
<% if current_user %>
<% if current_profile.is_client == 1 %>
<%= link_to "Create new questionnaire", new_questionnaire_path, class: "btn btn-primary" %>
<br>
<%= link_to "Show all my Questionnairs", questionnaires_path, class: "btn btn-primary" %>
<% end %>
<% end %>
<br>



<br>
<%= link_to "How it works", profiles_path(current_user), class: "btn btn-primary"%>

<br>
<%= mail_to "hello@answerthis.nl", "Get in touch!", subject: "Message", class: "btn btn-primary"%>
<br>

<h3>User story:</h3>

<!-- <%= link_to "Go to a questionnaire", play_path(@random_questionnaire.id), class: "btn btn-primary" %> -->
