<div class="text-center theme">


  <div class="hero-banner">
      <%= image_tag("laptop.png", class: "image-left") %>

      <!-- FOR CLIENTS -->
        <% if current_user && current_profile.is_client == 1 %>
        <%= render "home_clients"%>
        <% end %>
        <!-- FOR END USERS -->
        <% if current_user && current_profile.is_client != 1 %>
        <%= render "home_end_user" %>
        <% end %>
        <!-- FOR THE PUBLIC -->
        <% if !current_user %>
        <%= render "home_for_public" %>
        <h1>
          <i class="fa fa-arrow-down banner-arrow"></i>
        </h1>
        <% end %>

      <%= image_tag("phone.png", class: "image-right") %>


  </div>

  <% unless user_signed_in? %>
    <div id="info-banner">
  <div class="container">
      <div class="row">
        <div class="card col-xs-12 col-sm-4 col-lg-4">
          <h3>🙋 Pick Prize 🙋</h3>
          <p>Start by picking the prize you want to compete for...</p>
        </div>
        <div class="card col-xs-12 col-sm-4 col-lg-4">
          <h3>✅ Answer 5 questions  ✅</h3>
          <p>Answer 5 questions to earn a spin... Answer up to 15 questions a day!</p>
        </div>
        <div class="card col-xs-12 col-sm-4 col-lg-4">
          <h3>🎉 Spin & Win 🎉</h3>
          <p>Spin the wheel of fortune, if you hit WIN the prize is all yours! When you win we'll send the voucher to your email.</p>
        </div>
      </div>
    </div>
  </div>
  <% end %>


</div>
