<div class="q-n-a-div text-center theme">

  <div class="question-holder">
    <h2 style="margin-bottom: 2%;"><%=@question.title %></h2>
    <hr class="orange-line-smaller">
    <p ><%=@question.body %></p>
  </div>


  <div class="answers-card">
    <%@answers.each do |answer|%>
      <div class="answer-btn">
        <% selected_answer = answer.id%>
        <%= simple_form_for [@questionnaire, @question, @response] do |f|  %>
          <%= f.hidden_field :response, value: selected_answer %>
          <%= f.submit answer.body, class: "start-btn text-center" %>
        <%end%>
      </div>
    <%end%>
  </div>

</div>
