<h2><%=@question.title %></h2>
<p><%=@question.body %></p>

  <%@answers.each do |answer|%>

    <% selected_answer = answer.id%>
    <%= simple_form_for [@questionnaire, @question, @response] do |f|  %>
      <%= f.hidden_field :response, value: selected_answer %>
      <%= f.submit answer.body, class: "btn btn-primary btn-md prize-btn" %>
  <%end%>
  <%end%>
