<div class="theme text-center">

  <h1> New Questionnaire</h1>
  <hr class="orange-line-small">

  <div class="form-wrapper">
    <div class="create-form">
      <%= simple_form_for @questionnaire do |f| %>
        <%= f.input :title, label: 'Title', class: "form_field", required: true %>
        <%= f.input :description, label: 'Description', class: "form_field", required: true %>
        <%= f.submit class: 'start-btn' %>
      <% end %>
    </div>
  </div>

  <%= link_to "Back home", root_path, class: "start-btn" %>

</div>
