<div class="active-questionnaire-container">
  <%= render 'choose_prize' %>
   ________________________________

  <%= render 'questionnaire_description' %>
  <%= render 'questions' %>
  <%= render 'spinner' %>
  <%= render 'spin_result' %>
</div>
