<div class="text-center theme">

  <hr class="orange-line-full">

  <h1><%= @questionnaire.title%></h1>
  <p class="lighter-text"><%= @questionnaire.description%></p>
  <div class="button">
    <%= link_to "All questionnaires", questionnaires_path(@questionnaire), class: "purple-btn" %>
  </div>

  <hr class="orange-line">
  <div class="title-div">
    <h2 class="q-or-a-title">Questions</h2>
  </div>

  <hr class="orange-line-smaller">

  <div class="questions-div">

    <% question_number = 0 %>

    <ul class="questions-list">

      <% @questionnaire.questions.each do |question| %>
      <% question_number += 1 %>
      <% question_number.to_s %>
      <li class="question-list-item">
        <div class="question-card">
          <h3><%= question_number %>: <%= question.title %></h3>
          <p class="lighter-text"><%= question.body %></p>
          <ul class="answers-list">
            <% question.answers.each do |answer| %>
            <li><%= answer.body %></li>
            <% end %>
          </ul>
        </div>
      </li>
      <% end %>

    </ul>
  </div>

  <hr class="orange-line">

  <h2 class="q-or-a-title">Prizes</h2>
  <div class="button">
    <%= link_to "Add prizes", new_questionnaire_prize_path(@questionnaire), class: "purple-btn" %>
  </div>
  <hr class="orange-line-smaller">

  <div class="prizes-div">
    <% @questionnaire.prizes.each_with_index do |prize, index| %>
    <div class="prize-card">
      <h3><%= prize.title %></h3>
      <p class="lighter-text"><%= prize.description %></p>

      <ul class="prize-detail-list">
        <li><strong>Value:</strong> <%= prize.value %></li>
        <li><strong>Quantity:</strong> <%= prize.quantity_remaining %></li>
        <li><strong>Probability:</strong> <%= prize.win_probability %></li>
        <li><strong>Voucher code:</strong> <%= prize.voucher_code %></li>
      </ul>

    </div>
    <% end %>
  </div>

  <hr class="orange-line" style="margin-bottom: 5% !important;">


</div>
