<h1>Questionnaires#show</h1>
<p>Find me in app/views/questionnaires/show.html.erb</p>
<p>Title: <%= @questionnaire.title %></p>
<p>Description: <%= @questionnaire.description %></p>
<br>
<% @prizes.each do |prize| %>

  <button data-toggle="modal" data-target='#prize-<%= prize.id %>'>
    <%= prize.title %>
  </button>

  <div class="modal fade text-center prize-description-div" id="prize-<%= prize.id %>">
    <h1 style="color: white;"><%= prize.description %></h1>
    <button class="play-btn">Play for this prize</button>
  </div>

<% end %>


