<p>#You are on the show view of questionnaires</p>
<h1><%= @questionnaire.title%></h1>
<p><%= @questionnaire.description%></p>
<h2>questions</h2>
<% @questionnaire.questions.each_with_index do |question, index| %>
<h2><%=index+1%>.<%= question.title %></h2>
<p><%= question.body %></p>
<h4>answers</h4>
<ol>
  <% question.answers.each_with_index do |answer| %>
    <li><%= answer.body %></li>
  <% end %>
</ol>
<% end %>
<h3>prizes</h3>
<% @questionnaire.prizes.each_with_index do |prize, index| %>
  <h2><%=index+1%>.<%= prize.title %></h2>
  <p><%= prize.description %></p>
  <ul>
    <li>prize value:<%= prize.value %></li>
    <li>quantity_remaining:<%= prize.quantity_remaining %></li>
    <li>win_probability:<%= prize.win_probability %></li>
    <li>voucher_code:<%= prize.voucher_code %></li>
  </ul>
<% end %>



<br>

<br>
<%= link_to "Add prizes", new_questionnaire_prize_path(@questionnaire), class: "btn btn-primary" %>
