<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%#= og_image 'https://www.placecage.com/c/200/300', style: "width: 200px; height: 300px;" %>
    <meta property="og:image" content='../../../assets/images/answer_this_logo.png'/>
    <meta name="theme-color" content="#473B77">
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Answer This!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <!-- app/views/layouts/application.html.erb -->
    <%= render 'shared/navbar' %>
    <!-- app/views/layouts/application.html.erb -->
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
