<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- OG META DATA -->
    <!-- This is the metadata for FB sharing - Check what gets scraped by FB at https://developers.facebook.com/tools/debug/sharing/  -->
    <!-- You can ignore the App_id error as it is only for FB apps -->

    <!-- og:title - up to 55 chars -->
    <meta property="og:title" content="Answerthis - Answer questions - Win prizes">
    <!-- og:type - shouldn;t need to change this -->
    <meta property="og:type"   content="website" />
    <!-- og:image should be in public folder - not app/image. It should be 1200px*633px and in jpg format - a screen shot is OK-->
    <meta property="og:image" content="http://www.answerthis.nl/facebook-image.jpg">
    <!-- og:description - up to 160 chars -->
    <meta property="og:description" content="Answer 5 questions and win a prize.">
    <!-- og:site name -->
    <meta property="og:site_name" content="Answer This"/>
    <!-- og:url This is the url that will actually be shared on facebook - This is useful if they share from one page (eg /AboutUs) and you want them to share the index page on FB-->
    <meta property="og:url" content="http://www.answerthis.nl"/>
    <!-- END OG META -->

    <meta name="theme-color" content="#473B77">
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Answer This! -  Answer and win!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <!-- app/views/layouts/application.html.erb -->
    <%= render 'shared/navbar' %>
    <!-- app/views/layouts/application.html.erb -->
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
